@keyframes flip {
  0% {
    transform: rotateX(0);
  }

  95% {
    transform: rotateX(245deg);
  }

  100% {
    transform: rotateX(260deg);
    visibility: hidden;
  }
}


@keyframes dance-1 {
  from {
    height: 2px;
  }
  to {
    height: 22px;
  }
}

@keyframes dance-2 {
  from {
    height: 2px;
  }
  to {
    height: 15px;
  }
}

@keyframes dance-3 {
  from {
    height: 2px;
  }
  to {
    height: 30px;
  }
}

@keyframes dance-4 {
  from {
    height: 2px;
  }
  to {
    height: 20px;
  }
}

@keyframes dance-5 {
  from {
    height: 2px;
  }
  to {
    height: 15px;
  }
}