@mixin full-absolute {
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin full-fixed {
  display: block;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}