.about {
  display: block;
  position: absolute;
  top: 2rem;
  right: 1.5rem;

  outline: 0;

  .about__icon {
    display: block;

    width: 1.5rem;
    height: 1.5rem;

    fill: rgba(#ddd, 0.375);
    transition: fill .25s;
  }

  &:hover .about__icon {
    fill: rgba(#ddd, 0.75);
  }

  &:focus .about__icon {
    fill: rgba(#ddd, 0.75);
  }
}