.backdrop {
  @include full-size('block', 'fixed');

  z-index: -1;

  .backdrop__video {
    @include full-size;

    object-fit: cover;
  }

  &:after {
    @include full-size;

    content: '';
    background-color: rgba(0, 0, 10, 0.75);
  }
}