.calendar {
  position: relative;
  cursor: pointer;

  width: 13rem;
  height: 13rem;

  perspective: 800px;
  transform: translate3d(0, 0, 0);

  &:after, &:before {
    content: '';

    display: block;
    position: absolute;
    top: -0.625rem;
    z-index: 2;

    width: 0.5rem;
    height: 0.625rem;
    overflow: hidden;

    border-radius: 2px 2px 0 0;
    background-color: #999;
  }

  &:after {
    left: 20%;
  }

  &:before {
    right: 20%;
  }

  .calendar__page {
    @include full-size;

    &.calendar__page--animate {
      @include full-size;

      transform-origin: 50% -1px;
      transform-style: preserve-3d;

      animation: flip 1.25s ease-in forwards;
    }

    .calendar__page-back,
    .calendar__page-front {
      @include full-size;

      overflow: hidden;

      background-image: url('/images/calendar.jpg');
      background-size: cover;
      background-position: bottom;

      border-radius: 8px;
      backface-visibility: hidden;
    }

    .calendar__page-front {
      box-shadow: 1px 1px 4px 1px rgba(#000, 0.125);
    }

    .calendar__page-back {
      background: #e9e9e9;
      transform: rotateX(180deg);
    }
  }

  @media screen and (max-width: 479px) {
    width: 10rem;
    height: 10rem;
  }

  @media screen and (max-width: 359px) {
    width: 8rem;
    height: 8rem;
  }
}