.counter {
  display: block;
  position: relative;
  cursor: default;
  user-select: none;

  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;

  &.counter--title {
    margin-top: 2.5rem;
    font-size: 1.75rem;
    font-weight: 500;

    @media screen and (max-width: 479px) {
      margin-top: 1.5rem;
      font-size: 1.25rem;
    }
  }

  &.counter--more {
    margin-top: 0.75rem;
    font-size: 1rem;
    font-weight: 400;

    @media screen and (max-width: 479px) {
      font-size: 0.875rem;
    }
  }

  &.counter--hidden {
    visibility: hidden;
  }

  strong {
    font-weight: 500;
  }

  @media screen and (max-width: 479px) {
    letter-spacing: 0;
  }
}