.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 2rem 1rem;

  .footer__copy {
    margin: 0.5rem 0;
    font-size: 0.75rem;
    color: #999;

    .footer__copy-link {
      margin: 0;
    }
  }

  .footer__share {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  @media screen and (max-width: 479px) {
    margin-top: 2rem;
  }
}