.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 100%;
  max-width: 60rem;

  padding: 2rem 1rem 1rem;

  .footer__about {
    display: block;

    margin: 1.5rem 0 0;
    font-size: 0.75rem;
    color: rgba($color-white, 0.75);

    .footer__copy-link {
      margin-left: 0.375rem;
      text-decoration: none;
      border-bottom: solid 1px;

      transition: border 0.25s;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  .footer__share {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
}