.sound {
  display: flex;
  position: fixed;
  align-items: center;

  top: 1.5rem;
  right: 1.5rem;
  z-index: 5;

  cursor: pointer;

  height: 1.75rem;
  width: 1.75rem;
  opacity: 0.75;

  background-color: transparent;
  border: none;

  transition: opacity 0.25s;

  .sound__icon {
    fill: $color-white;

    display: block;

    width: 75%;
    height: 75%;
  }

  .sound__wave {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-sizing: content-box;

    border: 0.125rem solid transparent;
    border-right: 0.125rem solid $color-white;
    border-radius: 50%;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.sound__wave--one {
      width: 45%;
      height: 45%;
    }

    &.sound__wave--two {
      width: 80%;
      height: 80%;
    }
  }

  &.sound--stop .sound__wave {
    border-radius: 0;
    width: 0.625rem;
    height: 0.625rem;
    border-width: 0 0.125rem 0 0;

    &.sound__wave--one {
      transform: rotate(45deg) translate3d(0, -50%, 0);
    }

    &.sound__wave--two {
      transform: rotate(-45deg) translate3d(0, 50%, 0);
    }
  }

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: 479px) {
    top: 1rem;
    right: 1rem;
  }
}