.background {
  @include full-size('block', 'fixed');

  &::after {
    @include full-size('block', 'absolute');

    content: '';
    background-color: rgba(0, 0, 0, 0.625);
  }

  video {
    @include full-size('block', 'absolute');

    object-fit: cover;
  }
}