// Setup default styles
@import "config/*.scss";

// Font variables
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100%;
  min-height: 32rem;
  padding: 6rem 2rem;

  line-height: 1.375;
  font-size: 16px;
  font-weight: normal;
  font-family: $font-system;

  color: #fff;
  background-color: #000;

  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;

  @media screen and (max-width: 479px) {
    padding: 2rem 2rem 6rem;
  }
}

::selection {
  background-color: rgba(silver, 0.25);
}

// Import layout styles
@import "layout/*.scss";
