.calendar {
  position: relative;
  box-sizing: border-box;

  margin: 0 auto;

  width: 220px;
  height: 250px;
  padding-top: 50px;
  margin-bottom: 50px;

  text-align: center;
  color: #000;
  font-size: 72px;
  font-weight: 600;
  //background: #fff;

  span {
    display: block;
    font-size: 24px;
  }
}

#calendar {
  cursor: pointer;

  width: 322px;
  height: 322px;
}

.bb-custom-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
}

.calendar-label {
  z-index: 5;
  position: absolute;
  top: 130px;
  left: 100px;
}


.bb-content, .bb-item  {
  background: none !important;
}
